{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- fontawesome kit -->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <!-- custom css file -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %}Dashboard{% endblock title %}</title>
    </title>
</head>

<body>
    <!-- nav -->
    <header class="container-fluid indigo">
        <nav class="indigo w-100 d-flex justify-content-between align-items-center py-3 px-5">
            <ul class="d-flex align-items-center">
                <li class="list-group me-5 fs-4 fw-bold text-uppercase"><a class="logo" href="/">fitness</a></li>
                <li class="list-group">Welcome to the Trainer Dashboard.</li>
            </ul>
            {% if trainer %}
            <ul class="d-flex align-items-center">
                <li class="list-group me-3">{{trainer.user.first_name}} {{trainer.user.last_name}}</li>
                <img class="avatar" src="{{trainer.image.url}}" alt="avatar">

            </ul>
            {% else %}
            <ul class="d-flex align-items-center">
                <li class="list-group"><a href="" class="link-nav" data-bs-toggle="modal"
                        data-bs-target="#login">Login</a></li>
                <li class="list-group mx-3 fs-4 pipe">|</li>
                <li class="list-group"><a href="" class="link-nav" data-bs-toggle="modal"
                        data-bs-target="#register">Register</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>


    <!-- main -->
    <main class="container-fluid h-100">
        {% if trainer %}
        <div class="row h-100">
            <!-- sidebar column -->
            <div class="col-2 indigo pb-4">
                <hr>
                <!-- sidebar wrapper -->
                <div class="h-100 d-flex px-3 pb-3 flex-column align-items-stretch justify-content-between">
                    <!-- navigation -->
                    <div class="d-flex flex-column align-items-stretch justify-content-center">
                        <p class="mb-5 p-3 text-center fs-4 fw-semibold text-uppercase">Sidebar</p>
                        <a href="#" class="mb-3 btn btn-primary d-flex align-items-end">
                            <p><i class="fa-solid fa-house me-3 fs-5"></i></p>
                            <p>Home</p>
                        </a>
                        <a href="{% url 'home' %}" class="mb-3 btn btn-primary d-flex align-items-end">
                            <p><i class="fa-solid fa-users me-3 fs-5"></i></p>
                            <p>Users list</p>
                        </a>
                        <a href="{% url 'exercises' trainerId=request.user.id %}"
                            class="mb-3 btn btn-primary d-flex align-items-end">
                            <p><i class="fa-solid fa-weight-hanging me-3 fs-5"></i></p>
                            <p>My Exercises</p>
                        </a>
                        <a href="{% url 'subscribers' trainerId=request.user.id %}"
                            class="mb-3 btn btn-primary d-flex align-items-end">
                            <p><i class="fa-solid fa-circle-dollar-to-slot me-3 fs-5"></i></p>
                            <p>Subscribers</p>
                        </a>
                    </div>
                    <!-- logout here -->
                    <div class="d-flex flex-column align-items-stretch justify-content-center">
                        <a class="btn btn-primary d-flex align-items-end justify-content-between override-p"
                            href="{% url 'logout' %}">
                            <p class="fs-5">Logout</p>
                            <p><i class="fa-solid fa-right-from-bracket fs-5"></i></p>
                        </a>
                    </div>
                </div>
            </div>

            <!-- content column -->
            <div class="col bg-content">
                {% block content %}

                {% endblock content %}
            </div>

            <!-- 
                ##############################
                right sidebar for profile info 
                ##############################
            -->

            <!-- profile details for trainer here if they're logged in -->
            <div class="col-3 bg-content">
                <div class="profile-container">
                    <!-- title of profile -->
                    <h2 class="fs-4 fw-semibold text-center mb-4 c-headings">My Profile
                        <span>
                            <a href="{% url 'edit-trainer-profile' trainerId=request.user.id %}">
                                <i class="ms-4 fa-solid fa-pen-to-square fs-4 c-headings"></i>
                            </a>
                        </span>
                    </h2>
                    <hr class="mx-5">
                    <!-- profile details -->
                    <div class="profile-details mt-4">
                        <div class="d-flex flex-column align-items-center">
                            <!-- avatar -->
                            <div class="avatar-container mb-4">
                                <img class="cover" src="{{trainer.image.url}}" alt="avatar"
                                    style="object-fit: cover; height: 100%;">
                            </div>
                            <!-- profile username -->
                            <div class="profile-user text-center">
                                <p class="mb-2 fs-5 fw-semibold">{{request.user.first_name}} {{request.user.last_name}}
                                </p>
                                <p class="fs-5 mb-3">@{{request.user.username}}</p>

                            </div>

                            <hr>
                            <!-- profile details -->
                            <div class="w-75 profile-info d-flex flex-column">
                                <!-- experience -->
                                <div class="mt-2 pb-3 d-flex justify-content-between align-items-center">
                                    <p>Age: </p>
                                    <p>
                                        {% if trainer.age %}
                                        {{trainer.age}}
                                        {% else %}
                                        Empty
                                        {% endif %}

                                    </p>
                                </div>
                                <hr>
                                <div class="pb-3 d-flex justify-content-between align-items-center">
                                    <p>Experience: </p>
                                    <p>
                                        {% if trainer.experience %}
                                        {{trainer.experience}}
                                        {% else %}
                                        Empty
                                        {% endif %}

                                    </p>
                                </div>
                                <hr>
                                <div class="pb-3 d-flex justify-content-between align-items-center">
                                    <p>Specialty: </p>
                                    <p>
                                        {% if trainer.specialty %}
                                        {{trainer.specialty}}
                                        {% else %}
                                        Empty
                                        {% endif %}
                                    </p>
                                </div>
                                <hr>
                                <div class="mb-2 d-flex justify-content-between align-items-center">
                                    <p>Ratings: </p>
                                    <p><i class="fa-solid fa-star fs-6 text-warning"></i><i
                                            class="fa-solid fa-star fs-6 text-warning"></i><i
                                            class="fa-solid fa-star fs-6 text-warning"></i><i
                                            class="fa-solid fa-star fs-6 text-warning"></i><i
                                            class="fa-solid fa-star fs-6"></i> 4.65</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of profile column -->
            {% elif request.user.is_trainer == False %}
            {% include '403.html' %}
            {% else %}
            <div class="h-100 bg-content">
                <div class="h-100 d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-solid fa-triangle-exclamation icon-large text-warning"></i>
                    <p class="fs-1 mt-3 fw-semibold text-warning">Who Dis?</p>
                    <p class="mt-4 w-25 text-center ch-50">You are seeing this message because you're not logged in.
                        Kindly
                        login if you
                        have
                        an account or register a new one if you don't :)</p>

                    <div class="auth mt-4">
                        <button type="button" class="btn btn-warning me-3" data-bs-toggle="modal"
                            data-bs-target="#login">
                            Login
                        </button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#register">
                            Register
                        </button>
                    </div>

                </div>
            </div>

            {% include 'snippets/login.html' %}
            {% include 'snippets/register.html' %}
            {% endif %}
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

</body>

</html>