{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Subscriptions
{% endblock title %}
{% block content %}
{% for sub in subs%}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{sub.name}}</h5>
    <p class="card-text">{{sub.price}}</p>
    <p class="card-text">{{sub.describtion}}</p>
    <p class="card-text">{{sub.duration}}</p>
    <a href="#" class="btn btn-primary">Edit</a>
  </div>
</div>
{%endfor%}

{%endblock content %}