{% extends "base.html" %}

{% load static %}
{% block title %}
New Exercise
{% endblock title %}
{% block content %}
<style>
    .ingredient-form {
        border-bottom: 1px solid #c4c4c4;
        margin-bottom: 15px
    }

    .step-form {
        border-bottom: 1px solid #c4c4c4;
        margin-bottom: 15px
    }

    .hidden {
        display: none
    }

    .outline-btn {
        color: #645cff;
        background: rgb(31, 29, 90);
        border-radius: 5px;
        border: 1px solid #645cff;
    }

    .outline-btn:hover {
        color: #645cff;
    }

    .form-check {
        display: none
    }
</style>
<div class="row">
    <p class="fs-3 fw-semibold">Assign Exercise For: {{trainee.user.username}}</p>
</div>
<div class="row"></div>
<form action="{% url 'assign-exercise' traineeId=trainee.user.id  %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ forms }}
    <div style="width:100%">
        <h4>Exercises</h4>
        {{forms.management_form}}
        <div id='set-form-list'>

            {% for form in forms %}
            <div class='set-form'>
                {% for field in form %}
                <input type="text">{{field.label}}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div id='empty-set-form' class='hidden'>
            <button id="delete-set" type="button" class="btn outline-btn mt-2 detele ">X</button>
            {{forms.empty_form}}
        </div>
        <button id="add-more-set" type="button" class="btn outline-btn mt-2 ">Add Exercise</button>
    </div>
    <input type="submit" value="Add">
</form>
<br>
<script>
    const addMoreSetBtn = document.getElementById('add-more-set')
    const totalNewSetsForms = document.getElementById('id_exercises-TOTAL_FORMS')
    let ingredient_counter = 1
    addMoreSetBtn.addEventListener('click', add_new_set)
    add_new_set()
    function add_new_set(event) {
        const currentSetForms = document.getElementsByClassName('set-form')
        const currentFormCount = currentSetForms.length // + 1
        const formCopyTarget = document.getElementById('set-form-list')
        const copyEmptyFormEl = document.getElementById('empty-set-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'set-form card p-3')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)



        // const counterDiv = document.getElementById('ingredient_counter').cloneNode(true)
        // counterDiv.setAttribute('class', 'card-header' )
        //counterDiv.innerHTML= `<h5 class="card-title"> Set ${currentFormCount + 1 }</h5>`
        // copyEmptyFormEl.prepend(counterDiv)

        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewSetsForms.setAttribute('value', currentFormCount + 1)
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
    }



</script>
{%endblock content %}