{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}


{% block title %}
My Profile
{% endblock title %}

{% block content %}

<div class="col bg-content">
    <div class="profile-container">
        <!-- title of profile -->
        <h2 class="fs-4 fw-semibold text-center mb-4 c-headings">My Profile
            <span>
                <a href="{% url 'edit-trainer-profile' %}">
                    <i class="ms-4 fa-solid fa-pen-to-square fs-4 c-headings"></i>
                </a>
            </span>
        </h2>
        <hr class="mx-5">
        <!-- profile details -->
        <div class="profile-details mt-4">
            <div class="d-flex flex-column align-items-center">
                <!-- avatar -->
                <div class="mb-4">
                    {% if trainer.image %}
                    <img class="cover" src="{{trainer.image.url}}">
                    {% else %}
                    <img class="cover" src="{% static 'images/profile-image.png' %}">
                    {% endif %}
                </div>

                <!-- profile username -->
                <div class="profile-user text-center">
                    <p class="mb-2 fs-5 fw-semibold">{{request.user.first_name}} {{request.user.last_name}}</p>
                    <p class="fs-5 mb-3">@{{request.user.username}}</p>
                </div>

                <hr>

                <!-- profile details -->
                <div class="w-75 profile-info d-flex flex-column">
                    <!-- experience -->
                    <div class="mt-2 pb-3 d-flex justify-content-between align-items-center">
                        <p>Age: </p>
                        <p>
                            {% if trainer.age %}
                            {{trainer.age}} years old
                            {% else %}
                            Empty
                            {% endif %}
                        </p>
                    </div>

                    <hr>

                    <div class="pb-3 d-flex justify-content-between align-items-center">
                        <p>Experience: </p>
                        <p>
                            {% if trainer.experience %}
                            {{trainer.experience}} years
                            {% else %}
                            Empty
                            {% endif %}
                        </p>
                    </div>

                    <hr>

                    <div class="pb-3 d-flex justify-content-between align-items-center">
                        <p>Specialty: </p>
                        <p>
                            {% if trainer.specialty %}
                            {{trainer.specialty}}
                            {% else %}
                            Empty
                            {% endif %}
                        </p>
                    </div>

                    <hr>

                    <div class="mb-2 d-flex justify-content-between align-items-center">
                        <p>Ratings: </p>
                        <p><i class="fa-solid fa-star fs-6 text-warning"></i><i
                                class="fa-solid fa-star fs-6 text-warning"></i><i
                                class="fa-solid fa-star fs-6 text-warning"></i><i
                                class="fa-solid fa-star fs-6 text-warning"></i><i class="fa-solid fa-star fs-6"></i>
                            4.65</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}